.password-recovery-container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background-color: rgb(32, 32, 32);
  transition: all 0.3s ease;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  max-width: 500px;
  max-height: 450px;
  position: relative;
}

.password-recovery-container h2 {
  font-family: "Dancing Script", sans-serif;
  font-size: 2.8em;
  color: #face8d;
  text-align: center;
  margin-bottom: 20px;
}

.password-recovery-container p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #fff;
  font-family: "Ubuntu Mono", sans-serif;
  text-align: center;
}

.password-recovery-container input[type="email"] {
  width: 100%;
  padding: 12px 15px;
  background-color: #222;
  border: 1px solid #555;
  border-radius: 10px;
  font-family: "Ubuntu Mono", sans-serif;
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
}

.password-recovery-container input::placeholder {
  color: #888;
}

.password-recovery-container input:focus {
  border-color: #face8d;
  outline: none;
}

.recovery-code-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.square-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
  background-color: #222;
  border: 1px solid #555;
  border-radius: 5px;
  color: #fff;
  font-family: "Ubuntu Mono", sans-serif;
}

.square-input:focus {
  border-color: #face8d;
  outline: none;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.button-group button,
.s-message-back-to-login-button,
.s-message button {
  flex: 1;
  padding: 10px;
  background-color: #face8d;
  color: black;
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 5px;
}

.button-group button:hover,
.s-message-back-to-login-button:hover,
.s-message button:hover {
  background-color: #e4b57f;
}

.send-code-button {
  width: 50%;
  padding: 15px 5px;
  background-color: #face8d; 
  color: black;
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  display: block;
  margin: 20px auto 0;
}

.send-code-button:hover {
  background-color: #e4b57f;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  color: #face8d;
  font-size: 24px;
  cursor: pointer;
}

.back-button:hover {
  color: #e4b57f;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.s-message {
  color: lightgreen;
  margin-top: 20px;
  text-align: center;
}

.s-message button {
  margin-top: 20px;
  background-color: #face8d;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
}

.s-message button:hover {
  background-color: #e4b57f;
}

.password-inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  width: 100%;
}

.password-inputs input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  background-color: #222;
  border: 1px solid #555;
  border-radius: 10px;
  font-family: "Ubuntu Mono", sans-serif;
  color: #fff;
  font-size: 16px;
}

.password-inputs input::placeholder {
  color: #888;
}

.password-inputs input:focus {
  border-color: #face8d;
  outline: none;
}

.resend-code-button {
  padding: 10px;
  background-color: #555;
  color: #fff;
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.resend-code-button:hover {
  background-color: #face8d; 
}

.resend-code-button:disabled {
  background-color: #888; 
  cursor: not-allowed;
}

.button-group-inline {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%; 
  margin-top: 20px;
}

.button-group-inline button {
  flex: 1; 
  padding: 12px;
  background-color: #face8d;
  color: black;
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-group-inline button:hover {
  background-color: #e4b57f;
}

.button-group-inline button:disabled {
  background-color: #888;
  cursor: not-allowed;
}